/* LeadBundle */

.col-leadfield-id, .col-leadlist-id, .col-lead-id {
    width: 75px;
}

.col-leadfield-statusicons, .col-leadlist-leadcount {
    width: 100px;
}

.col-leadfield-orderhandle {
    width: 25px;
}

.col-leadfield-type {
    width: 125px;
}

.leadfield-list i {
    color: #7D5B71;
}

.segment-filter {
    position: relative;
}

.segment-filter .filter-buttons {
    position: absolute;
    right: -1px;
    top: -1px;
    min-width: 100px;
    padding-right: 0;
}

.leadlist-filter a {
    text-decoration: none;
}

.leadlist-filter:hover {
    background-color: #ecf0f1;
}

.leadlist-filter {
    height: 40px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

.leadlist-filter-name {
    font-size: 1.1em;
}

.available-filters .rounded-corners {
    height: 300px;
    overflow: auto;
}

.selected-filters .rounded-corners {
    height: 300px;
    overflow: auto;
}

.selected-filters .in-group {
    margin-left:20px;
}

.selected-filters .panel {
    margin-bottom:0;
}

.selected-filters .panel.in-group {
    margin-top:0;
    border-top:0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.col-leadpoints-date {
    width: 175px;
}

.col-leadpoints-delta {
    width: 75px;
}

.panel-foursquare .panel-heading {
    background: #0072b1;
    color: #FFFFFF;
}

.panel-facebook .panel-heading {
    background: #3b5998;
    color: #FFFFFF;
}

.panel-linkedin .panel-heding {
    background: #007bb6;
    color: #FFFFFF;
}

.panel-twitter .panel-heading {
    background: #00aced;
    color: #FFFFFF;
}

.panel-instagram .panel-heading {
    background: #517fa4;
    color: #FFFFFF;
}

ul.tag-cloud li {
    list-style-type: none;
    float:left;
    margin: 0 10px;
    height: 35px;
}

#social-container div.tab-pane {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card.highlight {
    background-color: #faf2cc;
    border: 3px solid #4e5d9d !important;
}

.lead-avatar-panel {
    position: relative;
}

.lead-avatar-panel .avatar-collapser a.arrow {
    position: absolute;
    top:0;
    right: 0px;
    margin: 0 3px 0 0;
    padding: 0 10px;
}

.lead-avatar-panel .img-responsive {
    min-width: 100%;
}

.lead-merge-options {
    position: relative;
}

.contact-cards .panel-body {
    max-height: 150px;
}

.contact-cards .img {
    max-height: 115px;
}

#lead_merge_lead_to_merge_chosen .chosen-search {
    display:none;
}

.history-search{
    overflow: visible!important;
    min-height: 95px;
}

.timeline-icon, .table-expand {
    width: 30px;
    text-align: center;
    aspect-ratio: 1/1;
}

.timeline-featured td, .timeline-featured th {
    background: rgba(78, 94, 158, 0.1 );
}

#contact-timeline td {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    height: 42px;
}

#contact-timeline .dl-horizontal dt {
    width: auto;
    text-align: left;
    margin-right: 10px;
}

#contact-timeline .dl-horizontal dd {
    margin-left: 0px;
}

#contact-timeline tr.timeline-details img {
    max-height: 200px;
}

.frequency{
    width: 65px!important;
}

.contact{
    display: inline !important;
}

.frequency-table, .frequency-table td{
    border-bottom: none!important;
    border-top: none!important;
}

.frequency-values {
    padding-left: 10px;
    padding-top: 27px;
    padding-bottom: 15px;
}

.frequency-select {
    width:125px !important;
    float: right;
    padding-right: 5px;
}

.frequency-label {
    padding: 8px;
 }

.frequency-date {
    width: 100px;
    float:left;
}

.properties-form .form-group {
    margin-bottom: 0;
}

.properties-form:has(.alert) .row:nth-child(2) {
    position: absolute;
    left: 82px;
    margin-top: 19px;
}

@media (min-width: 615px) and (max-width: 770px) {
    .properties-form:has(.alert) .row:nth-child(2) {
        margin-top: 6px;
    }
}

@media (min-width: 820px) {
    .properties-form:has(.alert) .row:nth-child(2) {
        margin-top: 3px;
    }
}

.filter--row { margin-bottom: 15px; }

.filter--row:has(.alert) { margin-bottom: 125px; }

@media (min-width: 480px) {
    .filter--row:has(.alert) { margin-bottom: 85px; }
}

@media (min-width: 1250px) {
    .filter--row:has(.alert) { margin-bottom: 65px; }
}

.filter--row select.form-control,
.filter--row select.glue-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12 15.6315L20.9679 10.8838L20.0321 9.11619L12 13.3685L3.9679 9.11619L3.03212 10.8838L12 15.6315Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-y: center;

    padding-right: 24px;
    background-position-x: 84%;

    outline: 2px solid transparent;
    outline-offset: -2px;
}

.filter--panel {
    border-color: var(--border-subtle);
}
.filter--panel select:focus {
    outline: 2px solid var(--focus);
}

.filter--panel select,
.filter--panel input {
    border: none;
    background-color: transparent;
    padding: var(--spacing-01) var(--spacing-06);
    text-overflow: ellipsis;
}

.filter--panel select.form-control,
.filter--panel input,
.filter--panel .chosen-container-multi .chosen-choices {
    border: none;
}

.filter--panel select.form-control,
.filter--panel input {
    padding: var(--spacing-01) var(--spacing-06);
    text-overflow: ellipsis;
}

.filter--field-operator {
    border-left: 1px solid var(--border-subtle);
    border-right: 1px solid var(--border-subtle);
}

.filter--field-name {
    min-height: 40px;
    background-color: var(--layer);
}

.filter--panel .help-block {
    position: absolute;
    bottom: -10px;
    right: 18px;
}

.filter--panel select.form-control {
    padding-right: 40px;
    background-position-x: calc(100% - 20px);
    height: 100%;
}

.panel-companies .primary {
    color: #fdb933;
}

.building::before {
    content: "\eb08";
    font-family: "RemixIcon";
    padding-right: 3px;
}

.user::before {
    content: "\f25b";
    font-family: "RemixIcon";
    padding-right: 3px;
}

#leads-container .spinner {
    text-align: center;
    line-height: 250px;
    font-size: 24px;
}

.segment-node {
    border: grey solid 1px;
    border-radius: 6px;
    text-align: center;
    margin: 20px;
    flex: 1 200px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    flex-flow: column wrap;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.segment-node.has-message {
    border: red solid 4px;
}

.segment-level {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.lead-stats-title {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    padding-bottom: 8px;
    font-size: 14px;
}