{# @MauticCore/Helper/description--inline.html.twig #}
{%- if description is defined and description is not empty -%}
    <div class="text-secondary mt-4"><small>{{ description|striptags|slice(0, 60) }}{% if description|striptags|length > 60 %}...{% endif %}</small></div>
{%- endif -%}